@charset "UTF-8";

body {
    background-color: skyblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

section {
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
    width: 500px;
    margin: auto;
    padding: 20px;
}

div {
    text-align: center;
    padding: 10px;
}
div#foto > img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

footer {
    text-align: center;
}